<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>

<body>

<p th:text="${'Role: ' + user.getAuthorities()}">VALUE</p>
<p th:text="${'ID: ' + user.getId()}">VALUE</p>
<p th:text="${'Name: ' + user.getUsername()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<br/>

<hr/>

<a href="/admin/index">Show all</a>

<hr/>

<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout" />
</form>

</body>
</html>